# Python
__pycache__/
*.pyc
*.pyo
*.pyd


# Environment
.env

# IDE / editor
.vscode/
.DS_Store/
*.streamlit/



# Virtual environment
venv/


# OS files
.DS_Store
Thumbs.db

# Logs / temp files (optional)
*.log
*.sqlite3

