# Python
__pycache__/
*.pyc
*.pyo
*.pyd


# SQLite 
*.db


# Environment
.env

# IDE / editor
.vscode/
.DS_Store/
*.streamlit/


# Chroma DB (local vector database)
chroma_db/

# Virtual environment
venv/


# OS files
.DS_Store
Thumbs.db

# Logs / temp files (optional)
*.log
*.sqlite3

# Ignore uploads
uploads/
